<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>euDiamante</display-name>
	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6Ld6VOMSAAAAAI4iDx9vUPgSrtorpXD4dRUN0OJd</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6Ld6VOMSAAAAADnnGicnkUiTPD-f11t9E0oN83c3</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>convite.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ConviteServlet</servlet-name>
		<servlet-class>br.com.eudiamante.servlets.ConviteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConviteServlet</servlet-name>
		<url-pattern>/convite/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GerarConviteServlet</servlet-name>
		<servlet-class>br.com.eudiamante.servlets.GerarConviteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GerarConviteServlet</servlet-name>
		<url-pattern>/gerarConvite/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidarConviteServlet</servlet-name>
		<servlet-class>br.com.eudiamante.servlets.ValidarConviteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidarConviteServlet</servlet-name>
		<url-pattern>/validarConvite/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>10000</session-timeout>
	</session-config>

</web-app>