@charset "utf-8";
/* CSS Document */
	
	.wrapper{
		position: relative;
		width: 837px;
		min-height: 100%;
		padding: 54px 14px 15px;
		margin: 0 auto;
		padding-bottom: 0;
		z-index:10;
		bg-color: #1a5a74;
	}

	#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: url(../img/tile_texture.png);
	height: 46px;
	z-index: 911;
	}
	
	#footertext{
	float:left;
	margin:12px 10px; 
	padding:0 10px;
	border-left:3px solid #ededed;
	height:24px;
	line-height:24px;

	}
	
	/*Início dos estilos dos botoes*/

        .fonte{
        font-family: 'Freight Sans Bold','lucida grande',                                                                                                                                                                     tahoma,verdana,arial,sans-serif !important;
        font-weight: normal !important;
        text-rendering: optimizelegibility;
        }
        
        .posicao {
         margin-bottom: 10px;
        margin-top: 100px;
        }
        
        .tamanho_largura {
        min-width: 140px;
        padding: 7px 20px;
        text-align: center;
    	 }


        .cor_fundo {
        background-color: #00556f
        }
        
        .tamanho {
                padding: 4px 10px;
        }
        
        .forma_botao{
        border: 1px solid;
        border-radius: 8px 8px 8px 5px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        letter-spacing: 1px;
        position: relative;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);


        }

	/*Fim dos estilos dos botoes*/
	
	/*Inputtext*/
	
	 .inputTxt {
                
        border-radius: 7px 7px 7px 7px;
        color: #a6a6a6;
        display: inline-block;
        padding: 4px 10px;
	
	
	}
	
	/*conteudo centro*/
	
	#conteudomale {
		
		
		 width: 200px;
    	 height: 200px;
   		 margin-left: -480px; /* metade da largura */
   		 margin-top: 150px; /* metade da altura */
	   	 z-index:10;
      
	}
	
	#conteudofemale {
	
		
	
	 	
	
	
	
		 width: 200px;
   		 height: 200px;
   		 margin-left: 480px; /* metade da largura */
   		 margin-top: -200px; /* metade da altura */
		 z-index:20;
	
	
	
	}
	
	#mejoao{
		
		 width: 200px;
   		 height: 200px;
   		 margin-left: -480px; /* metade da largura */
   		 margin-top: -100px; /* metade da altura */
		 z-index:40;
		
	}
	
	#memaria{
	
		 width: 200px;
   		 height: 200px;
   		 margin-left: 480px; /* metade da largura */
   		 margin-top: -200px; /* metade da altura */
		 z-index:50;
		
	}
	
	#meunome{
		
		width: 200px;
   	    height: 200px;
  	    margin-left: -100px; /* metade da largura */
   	    margin-top: -100px; /* metade da altura */
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	
	}
	
	label {
		
		display: block;
	}

	input[type=button] {
		
		margin-bottom: 30%;
	
	}
	
	
	#bAnvc {
	
		margin-top:20px;
		padding: 10px;
	
	}
	
	#nometxt {
	
	font-weight: bold;                                                                                                                                                    tahoma,verdana,arial,sans-serif !important;
   
	}
	
	#btnVoltarSalax{
	
		font-weight: bold;
	
	
	
	}


	