@charset "utf-8";
/* CSS Document */
	
	.wrapper{
		position: relative;
		width: 837px;
		min-height: 100%;
		padding: 54px 14px 15px;
		margin: 0 auto;
		padding-bottom: 0;
		z-index:10;
		bg-color: #1a5a74;
	}

	#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: url(../img/tile_texture.png);
	height: 46px;
	z-index: 911;
	}
	
	#footertext{
	float:left;
	margin:12px 10px; 
	padding:0 10px;
	border-left:3px solid #ededed;
	height:24px;
	line-height:24px;

	}
	
	/*Início dos estilos dos botoes*/

        .fonte{
        font-family: 'Freight Sans Bold','lucida grande',                                                                                                                                                                     tahoma,verdana,arial,sans-serif !important;
        font-weight: normal !important;
        text-rendering: optimizelegibility;
        }
        .posicao {
         margin-bottom: 10px;
        margin-top: 100px;
        }
        
        .tamanho_largura {
        min-width: 140px;
        padding: 7px 20px;
        text-align: center;
    	 }


        .cor_fundo {
        background-color: #00556f
        }
        .tamanho {
                padding: 4px 10px;
        }
        .forma_botao{
        border: 1px solid;
        border-radius: 8px 8px 8px 5px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        letter-spacing: 1px;
        position: relative;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);


        }

	/*Fim dos estilos dos botoes*/
	
	/*Inputtext*/
	 .inputTxt {
                
        border-radius: 7px 7px 7px 7px;
        color: #a6a6a6;
        display: inline-block;
        padding: 4px 10px;
	}
	
	/*conteudo centro*/
	
	#conteudomale {
		
		
		position: absolute;

		left: 380px; /* posiciona para a esquerda */

		top: 300px; /* posiciona para baixo */
        
	
	}
	
	#conteudofamale{
	
		position: absolute;

		right: 590px; /* posiciona para a direita */

		top: 300px; /* posiciona para baixo */
	
	
	
	}
	
	#mejoao{
		position: relative;

		left: 380px; /* posiciona para a esquerda */

		top: 370px; /* posiciona para baixo */
	
	
	}
	
	#memaria{
	
		position: relative;

		right: 380px; /* posiciona para a direita */

		top: 370px; /* posiciona para baixo */
	
	}
	
	#meunome{
		position: absolute;
		top: 120px; /* posiciona para baixo */
		left: 460px; /* posiciona para a esquerda */
		
	}
	
	label {
		display: block;
	}

	input[type=button] {
		margin-bottom: 5%;
	
	}
	
	

	